$fontsize :18px;
.body{
    background: #f5f5f7;
}
.uk-section {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    .uk-container {
        .uk-flex {
            justify-content: space-between;
            .media-cards-content {
                margin: 0 -10px;
                a:link {
                    text-decoration: none;
                }
                .uk-height-medium {
                    height: 250px;
                }
                .text {
                    h6{
                        color: #778a9d;
                        font-size: $fontsize;
                        margin-top: 20px;
                        margin-bottom: 0px;
                    }
                    h3{
                        margin: 0px;
                        margin-bottom: 30px;
                        font-size: $fontsize;
                    }
                }  
            }
        }
    }
}
// Desktop
@media (min-width: 1200px) {
    .uk-child-width-1-3\@m>* {
        width: 33%;
    }
}
// Tablet Landscape
@media screen and (min-width: 960px) and (max-width:1199px){  
    .uk-container{
        width: 936px;
    }
    .uk-child-width-1-3\@m>* {
        width: 33%;
    }
    .uk-border-rounded{
        border-radius: 5px;
        height: 200px;
    }
}
// Tablet Portrait
@media screen and (min-width:640px) and (max-width:959px){
    .uk-container{
        width: 720px;
    }
    .uk-border-rounded{
        border-radius: 5px;
        height: 300px;
        background-size: contain;
        width: 100%;
    }
}
// Mobile View
@media screen and (max-width: 639px)  { 
    .uk-container{
        width: 100%;
        margin-left: 10px;
    }
}